<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>О проекте - LifeSpot</title>
    <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="../Static/JS/comments.js" ></script>
</head>

<body>
    <!-- Хедер -->
    <header id="header-index">
        <h1>О проекте - LifeSpot</h1>
        <p>Узнайте больше о нашем проекте</p>
    </header>

    <!-- Сайд-бар -->
    <aside id="sidebar">
        <div class="navbar">
            <a href="/">Все трансляции</a>
            <a href="/about">О проекте</a>
        </div>
    </aside>

    <!-- Основной контент -->
    <div class="content">
        <p>LifeSpot — это проект, который позволяет вам видеть, что происходит на улицах городов мира в режиме реального времени. Наслаждайтесь трансляциями!</p>

        <!-- Раздел отзывов -->
        <div class="reviews-section">
            <h2>Отзывы</h2>
            <button id="leaveCommentButton">Оставить отзыв</button>
            <div id="commentsContainer">
                <h3>Список отзывов:</h3>
            </div>
        </div>
    </div>

    <!-- Футер -->
    <footer>
        <p>LifeSpot - видео трансляции</p>
        <p>Связь с разработчиком: evmorgunov@yahoo.com</p>
    </footer>
</body>
</html>
